SUBSYSTEM=="tty", SUBSYSTEMS=="usb",ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0777",SYMLINK+="usb_lidar"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb",ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="2021", MODE="0777",SYMLINK+="left_wheel"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb",ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="2022",MODE="0777",SYMLINK+="right_wheel"
